<div class="container lg:mt-7 lg:px-[10%] flex flex-col items-center">
    <h1 class="text-4xl lg:text-7xl text-center">Sobre Nosotros</h1>
    <p class="text-center lg:text-xl lg:mt-7">
        Con esta aplicación web podrás gestionar tus canciones más preciadas, podrás añadir y eliminar tus canciones y artistas
        favoritos. En la página principal se enlistan las canciones Top Globales y de México, si deseas puedes añadirlas a favoritos
        desde ahí mismo y las veras en la sección de <span class="font-bold">"Mis canciones"</span>.
    </p>
    <p class="text-center lg:text-xl lg:mt-7">
        Esta página web fue desarrollada por <span class="font-bold">Marcos Camacho</span>, <span class="font-bold">Luis Felipe</span>
        y <span class="font-bold"> Jose Emmanuel</span>.
    </p>
    <div class="w-2/3 lg:w-1/2 mt-6">
        <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExbmRlcThnb2tzdHc2c2t6ZWRqYzhzdjRhaWMzdHV2NXNqYWJ5N2l6MiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6ib6KPmkeAjDTxMxij/giphy.gif" alt="">
    </div>
