<div class="container mt-4">
  <h3 class="text-center mb-4" style="color: black;">Canciones</h3>

  <table *ngIf="songs.length" class="table table-bordered table-dark table-striped">
    <!-- Encabezados de la tabla -->
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Album</th>
        <th>Descripcion</th>
        <th>Genero</th>
        <th>Año</th>
        <th>Imagen</th> <!-- Nueva columna para la imagen -->
        <th>Acciones</th> <!-- Columna para botones de acción -->
      </tr>
    </thead>
    <!-- Cuerpo de la tabla -->
    <tbody>
      <tr *ngFor="let song of songs">
        <td>{{ song.id }}</td>
        <td>{{ song.title }}</td>
        <td>{{ song.album }}</td>
        <td>{{ song.description }}</td>
        <td>{{ song.genre }}</td>
        <td>{{ song.releaseYear }}</td>
        <td>
          <!-- Mostrar la imagen -->
          <img *ngIf="song.imageBase64" [src]="song.imageBase64" alt="Imagen de la canción" style="max-width: 100px; max-height: 100px;">
          <span *ngIf="!song.imageBase64">No hay imagen</span>
        </td>
        <td>
          <button (click)="editSong(song)" class="btn btn-primary">Editar</button>
          <!-- Botón para eliminar -->
          <button (click)="deleteSong(song.id)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
